.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  background: var(--cds-layer-01);
  border-bottom: 1px solid var(--cds-border-subtle-01);
  flex-shrink: 0;
}

.toolbarLeft {
  display: inline-flex;
  height: 2rem;
  align-items: center;
}

.toolbarDivider {
  height: 100%;
  border-right: 1px solid var(--cds-border-subtle-01);
}

.partialMessage {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.32px;
  padding: 0.5rem 1rem;
  color: var(--cds-text-secondary);
  flex-shrink: 0;
}

.graphArea {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.centeredContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.errorContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--cds-support-error);
  font-size: 0.875rem;
  padding: 1rem;
  text-align: center;
}

.emptyContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--cds-text-secondary);
  font-size: 0.875rem;
}

.renderingIndicator {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: fit-content;
  background: var(--cds-layer-01);
  z-index: 10;
}

.navModalActions {
  margin-top: 1rem;
  gap: 1px;
  padding-left:25%;
}
