.tabsWrapper :global(.cds--css-grid) {
  margin-inline: unset;
  max-inline-size: unset;
}

.tabsWrapper :global(.cds--tabs.cds--tabs--vertical) {
  grid-column: span 3;
}

.tabsWrapper :global(.cds--tabs--vertical ~ .cds--tab-content) {
  grid-column: 4 / -1;
}
