.sectionHeader {
  width: 100%;
  padding: 1rem 1rem 0.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--cds-text-secondary);
  letter-spacing: 0.32px;
}

.headerActionIcons {
  :global(.cds--btn.cds--btn--icon-only.cds--header__action) svg {
    fill: #ffffff !important;
  }
}

.sideNav {
  background-color: var(--cds-background) !important;
}
