.fieldLabel {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--cds-text-secondary);
  margin-bottom: 0.125rem;
}

.fieldValue {
  font-size: 0.875rem;
  color: var(--cds-text-primary);
  margin: 0;
  margin-inline-start: 0;
}